# PyCharm
.idea/

# LaTeX
*.aux
*.log
*.out
*.bbl
*.blg
*.nav
*.snm
*.toc
*.vrb

# minted
/slides/_minted-main/

# generated css
src/simulation/css/main.css

# swp files
*.swp

# report
report/build/output/*
